@use '../../common' as mix;

.category {
  position: relative;
  width: 100%;
  margin-top: calc(100vh + 500px);
  transition: opacity 0.5s;
  background-color: mix.$lightGray;
  .inner {
    padding-top: 150px;
    margin-top: calc(100vh + 8000px);
    h3 {
      @include mix.font500;
      margin-left: 12px;
      padding-bottom: 20px;
    }
    .popularCategory {
      @include mix.font400;
      border-radius: 10px;
      cursor: pointer;
      background-color: red;
      padding: 20px 15px;
      word-break: keep-all;
      line-height: 1.5;
      height: 0;
      padding-bottom: 130%;
      box-shadow: 2px 4px 12px rgba(0, 0, 0, 0);
      transition: all 0.2s;
      &:hover {
        box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
      }
    }
  }
}
