@use '../../common' as mix;
.topContainer {
  background-color: mix.$lightGray;
  svg {
    margin-top: 30%;
    font-size: 1.5rem;
    color: #fff;
  }
  .inner {
    padding-top: 10rem;
    & > .row {
      gap: 8%;
    }
    h1 {
      @include mix.title;
      font-size: 3rem;
      word-break: keep-all;
    }
    p {
      @include mix.subtitle;
    }
    select {
      @include mix.font400;
      border: 1px solid mix.$black;
      cursor: pointer;
    }
  }
  .cardPicture {
    .row {
      .col {
        height: 0px;
        padding-bottom: 20%;
        // background-color: mix.$black;
        @include mix.start;
      }
      &:nth-of-type(1) {
        .col {
          &:nth-of-type(1) {
            background-color: mix.$blue;
          }
          &:nth-of-type(2) {
            background-color: mix.$black;
          }
          &:nth-of-type(3) {
            background-position: center;
            background-size: cover;
          }
        }
      }
      &:nth-of-type(2) {
        background-color: #fff;
        color: mix.$black;
        padding-bottom: inherit;
        @include mix.font700;
        @include mix.center;
        font-size: 700%;
        .bracket--right {
          @include mix.end;
        }
        .col-md-2 {
          background: black;
          color: white;
          padding-bottom: 2%;
        }
      }
      .swiper {
        width: 100%;
        margin-top: 30%;
        .swiper-wrapper {
          width: 100%;
          height: 0;
          padding-bottom: 20%;
          .swiper-slide {
            width: 100%;
            height: 100px;
            @include mix.center;
            font-size: 55%;
          }
        }
      }
      &:nth-of-type(3) {
        .col {
          &:nth-of-type(1) {
            background-position: center;
            background-size: cover;
          }
          &:nth-of-type(2) {
            background-color: mix.$black;
          }
          &:nth-of-type(3) {
            background-color: mix.$blue;
          }
        }
      }
    }
    
  }
}
.cardTop{
  .row{
    row-gap: 4rem;
    .col{
      @include mix.center;
      position: relative;
      z-index: 10;
        &::after{
          content: "";
          position: absolute;
          width: 80%;
          height: 0;
          padding-bottom: 80%;
          border-radius: 50%;
          background-color: mix.$lightBlue;
          z-index: -1;
      }
    }
  }
  .cardBoxAll{
    width: 60%;
    position: relative;
    .cardImg{
      @include mix.background;
      width: 100%;
      padding-bottom: calc(100% * 1.58);
      border-radius: 0.8rem;
      overflow: hidden ;
      box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.08);
    }
    &:hover{
      .pointBox{
        visibility: visible;
        opacity: 1;
        transform: translateY(0px);
        transition: opacity 300ms, transform 400ms;
        transition-timing-function: ease-out;
      }
    }
    .pointBox{
      visibility: hidden;
      cursor: pointer;
      opacity: 0;
      transform: translateY(100px);
      
      position: absolute;
      top:-5%;
      left:-10%;
      width: 120%;
      padding: 15% 10%;
      height: 110%;
      border-radius: 0.8rem;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      gap:0.4rem;
      border: 1px solid mix.$lightBlue;
      .moreButton{
        margin-top: auto;
        margin-bottom: 0;
        .btn{
          font-size: 0.9rem;
          padding-top: 0.35rem;
          padding-bottom: 0.4rem;
      
          svg{
            font-size: 0.9rem;
            margin-top: 0;
          }
        }
      }
      .cardInfo{
        margin-bottom: 1rem;
        .badge{
          @include mix.font400;
          background-color: mix.$blue;
          margin-bottom: 0.5rem;
        }
        h3{
          color: mix.$blue;
          @include mix.font600;
          font-size: 1.2rem;
          word-break: keep-all;
          line-height: 1.6rem;
          margin-bottom: 0;
        }
      }
      .point{
        display: flex;
        gap:0.6rem;
        &>span{
          color: mix.$blue;
          line-height: 1.6rem;
        }
        .cardBtn{
          svg{
            font-size: 1rem;
          }
        }
        // &:not(:last-child){
        //   margin-bottom:1rem;
        // }
        h5{
          @include mix.font400;
          color: mix.$black;
          font-size: 0.9rem;
          margin-bottom: 0;
          line-height: 1.4rem;
        }
      }
    }
  }
}

