@use '../../common' as mix;

.topContainer {
  background-color: mix.$lightGray;

  svg {
    margin-top: 30%;
    font-size: 1.5rem;
    color: #fff;
  }

  .inner {
    padding-top: 14rem;

    & > .row {
      gap: 8%;
    }

    h1 {
      @include mix.title;
      font-size: 3rem;
      word-break: keep-all;
    }

    p {
      @include mix.subtitle;
    }

    select {
      @include mix.font400;
      border: 1px solid mix.$black;
      cursor: pointer;
    }
  }

  .cardPicture {
    .row {
      .col {
        height: 0px;
        padding-bottom: 20%;
        // background-color: mix.$black;
        @include mix.start;
      }

      &:nth-of-type(1) {
        .col {
          &:nth-of-type(1) {
            background-color: mix.$blue;
          }

          &:nth-of-type(2) {
            background-color: mix.$black;
          }

          &:nth-of-type(3) {
            background-position: center;
            background-size: cover;
          }
        }
      }

      &:nth-of-type(2) {
        background-color: #fff;
        color: mix.$black;
        padding-bottom: inherit;
        @include mix.font700;
        @include mix.center;
        font-size: 700%;

        .bracket--right {
          @include mix.end;
        }

        .col-md-2 {
          background: black;
          color: white;
          padding-bottom: 2%;
        }
      }

      .swiper {
        width: 100%;
        margin-top: 30%;

        .swiper-wrapper {
          width: 100%;
          height: 0;
          padding-bottom: 20%;

          .swiper-slide {
            width: 100%;
            height: 100px;
            @include mix.center;
            font-size: 55%;
          }
        }
      }

      &:nth-of-type(3) {
        .col {
          &:nth-of-type(1) {
            background-position: center;
            background-size: cover;
          }

          &:nth-of-type(2) {
            background-color: mix.$black;
          }

          &:nth-of-type(3) {
            background-color: mix.$blue;
          }
        }
      }
    }
  }
}

.cardTop {
  .row {
    row-gap: 4rem;

    .col {
      @include mix.center;
      position: relative;
      z-index: 10;

      &::after {
        content: '';
        position: absolute;
        width: 80%;
        height: 0;
        padding-bottom: 80%;
        border-radius: 50%;
        background-color: mix.$lightBlue;
        z-index: -1;
      }
    }
  }

  .cardBoxAll {
    width: 60%;
    position: relative;

    .cardImg {
      @include mix.background;
      width: 100%;
      padding-bottom: calc(100% * 1.58);
      border-radius: 0.8rem;
      overflow: hidden;
      box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.08);
      background-color: #fff;
    }

    &:hover {
      .pointBox {
        visibility: visible;
        opacity: 1;
        transform: translateY(0px);
        transition: opacity 300ms, transform 400ms;
        transition-timing-function: ease-out;
      }
    }

    .pointBox {
      visibility: hidden;
      cursor: pointer;
      opacity: 0;
      transform: translateY(100px);
      transition: all 500ms;
      position: absolute;
      top: -5%;
      left: -10%;
      width: 120%;
      padding: 2.2rem 1.4rem;
      height: 110%;
      border-radius: 0.8rem;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
      border: 1px solid mix.$lightBlue;

      .moreButton {
        margin-top: auto;
        margin-bottom: 0;

        .btn {
          font-size: 0.9rem;
          padding: 0.35rem 0.3rem 0.4rem;

          svg {
            font-size: 0.9rem;
            margin-top: 0;
          }
        }
      }

      .cardInfo {
        margin-bottom: 1rem;

        .badge {
          @include mix.font400;
          background-color: mix.$blue;
          margin-bottom: 0.5rem;
        }

        h3 {
          color: mix.$blue;
          @include mix.font600;
          font-size: 1.2rem;
          word-break: keep-all;
          line-height: 1.6rem;
          margin-bottom: 0;
        }
      }

      .point {
        display: flex;
        gap: 0.6rem;

        & > span {
          color: mix.$blue;
          line-height: 1.6rem;
        }

        .cardBtn {
          svg {
            font-size: 1rem;
          }
        }

        // &:not(:last-child){
        //   margin-bottom:1rem;
        // }
        h5 {
          @include mix.font400;
          color: mix.$black;
          font-size: 0.9rem;
          margin-bottom: 0;
          line-height: 1.4rem;
        }
      }
    }
  }
}

@media (width<=1400px) {
  .topContainer .cardPicture .row .swiper .swiper-wrapper .swiper-slide {
    font-size: 65%;
  }

  .topContainer .cardPicture .row:nth-of-type(2) .col-md-2 {
    background: black;
    color: white;
    padding-top: 2%;
    padding-bottom: 4%;
    height: 100%;
  }

  .topContainer {
    .inner {
      br {
        display: none;
      }

      select {
        margin-bottom: 7rem;
        width: 40%;
      }
    }
  }

  .cardTop {
    .cardBoxAll {
      width: 76%;
      position: relative;

      .pointBox {
        left: -15%;
        width: 130%;
        height: 130%;
        transform: translateY(70px);

        .moreButton {
          .btn {
            padding: 0.65rem 0.3rem 0.7rem;
          }
        }
      }

      &:hover {
        .pointBox {
          visibility: visible;
          opacity: 1;
          transform: translateY(-30px);
          transition: opacity 300ms, transform 400ms;
          transition-timing-function: ease-out;
        }
      }
    }

    .row {
      .col {
        &::after {
          content: '';
          position: absolute;
          width: 90%;
          height: 0;
          padding-bottom: 90%;
          border-radius: 50%;
          background-color: #ddedff;
          z-index: -1;
        }
      }
    }
  }
}

@media (width<=1200px) {
  .topContainer {
    .inner {
      select {
        width: 50%;
      }
    }
  }

  .cardTop {
    .cardBoxAll {
      width: 50%;

      .pointBox {
        left: -10%;
        width: 120%;
        height: 110%;
        transform: translateY(100px);
      }

      &:hover {
        .pointBox {
          transform: translateY(0px);
        }
      }
    }

    .row {
      .col {
        &::after {
          width: 70%;
          padding-bottom: 70%;
        }
      }
    }
  }
}

@media (width<=992px) {
  .topContainer .cardPicture .row .swiper .swiper-wrapper .swiper-slide {
    font-size: 55%;
  }

  .cardTop {
    .cardBoxAll {
      width: 65%;

      .pointBox {
        left: -5%;
        width: 110%;
        height: 110%;
        transform: translateY(100px);
      }

      &:hover {
        .pointBox {
          transform: translateY(0px);
        }
      }
    }

    .row {
      .col {
        &::after {
          width: 78%;
          padding-bottom: 78%;
        }
      }
    }
  }
}

@media (width<=765px) {
  .topContainer {
    .inner {
      select {
        width: 100%;
      }
    }
  }

  .cardTop {
    .cardBoxAll {
      width: 50%;

      .pointBox {
        left: -5%;
        width: 110%;
        height: 110%;
        transform: translateY(100px);
        padding: 2.5rem 1.5rem;

        .cardInfo {
          .badge {
            font-size: 1rem;
          }

          h3 {
            font-size: 1.5rem;
            line-height: 1.4;
          }
        }

        .point {
          h5 {
            font-size: 1.2rem;
            line-height: 1.4;
            margin-bottom: 1rem;
          }
        }
      }

      &:hover {
        .pointBox {
          transform: translateY(0px);
        }
      }
    }

    .row {
      .col {
        &::after {
          width: 65%;
          padding-bottom: 65%;
        }
      }
    }
  }

  .topContainer .cardPicture .row:nth-of-type(2) .col-md-2 {
    &.bracket--right,
    &.bracket--left {
      width: 14%;
    }
  }
}

@media (width<=576px) {
  .topContainer {
    .inner {
      select {
        width: 100%;
        margin-bottom: 3rem;
      }
    }
  }

  .topContainer .cardPicture .row .swiper .swiper-wrapper .swiper-slide {
    font-size: 50%;
  }
}

@media (width<=500px) {
  .topContainer .cardPicture .row:nth-of-type(2) .col-md-2 {
    &.bracket--right,
    &.bracket--left {
      display: none;
    }
  }

  .topContainer .cardPicture .row:nth-of-type(2) {
    padding-bottom: 10%;
  }

  .topContainer .cardPicture .row .swiper .swiper-wrapper .swiper-slide {
    font-size: 45%;
  }

  .cardTop {
    .row {
      row-gap: 8rem;
    }

    .cardBoxAll {
      .cardImg {
        width: 100%;
        padding-bottom: calc(100% * 1.58);
      }

      .pointBox {
        left: -15%;
        width: 130%;
        min-width: 260px;
        height: 130%;
        transform: translateY(80px);
        padding: 2.5rem 1.5rem;
      }

      &:hover {
        .pointBox {
          transform: translateY(-20px);
        }
      }
    }
  }
}

@media (width<=430px) {
  .topContainer {
    .inner {
      select {
        width: 100%;
        margin-bottom: 6rem;
      }
    }
  }

  .cardTop {
    .cardBoxAll {
      .cardImg {
        width: 100%;
        padding-bottom: calc(100% * 1.58);
      }

      .pointBox {
        position: absolute;
        width: calc(100vw - 17px);
        height: 115%;
        right: 0;
        left: -51%;
        transform: translateY(100px);
        .cardInfo {
          h3 {
            font-size: 1.3rem;
          }
        }
        .point {
          h5 {
            font-size: 1rem;
            line-height: 1.4;
            margin-bottom: 1rem;
          }
        }
      }

      &:hover {
        .pointBox {
          transform: translateY(0px);
        }
      }
    }
  }
}
