@use '../../common' as mix;

.cardDetail {
  overflow-x: hidden;
  background-color: #fff;

  .cardBanner {
    margin-top: 8%;
    background-color: #fff;

    .cardImgBox {
      @include mix.center;
      padding: 3rem 0;

      &>div {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        &::before {
          content: '';
          position: absolute;
          width: 63%;
          padding-bottom: 63%;
          border-radius: 100%;
          background-color: mix.$lightBlue;
        }

        .cardImg {
          width: 40%;
          height: 0px;
          padding-bottom: calc(40% * 1.58);
          border-radius: 1rem;
          box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.08);
          @include mix.background;
          overflow: hidden;
          position: relative;
        }
      }
    }

    .cardInfoBox {
      color: mix.$black !important;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      .badge {
        background-color: mix.$blue !important;
        margin-bottom: 0.8rem;
        @include mix.font400;
        font-size: 1rem;
        padding-bottom: 0.5rem;
      }

      h1 {
        @include mix.font700;
      }

      .cardInfo {
        gap: 0.8rem;

        .point {
          margin-top: 1rem;
          display: flex;
          gap: 0.6rem;
          @include mix.font300;

          h5 {
            margin-bottom: 0;
          }

          span {
            color: mix.$blue;
          }
        }

        button {
          background-color: #fff;
          border: 2px solid mix.$blue;
          font-size: 1.3rem;
          color: mix.$blue;
          //   border: none;
          @include mix.font500;
          max-width: 40%;
          margin-top: 4%;
          margin-left: 12px;
          transition: all 0.3s;
          padding-top: 1rem;
          padding-bottom: 1.3rem;

          svg {
            margin-top: -4px;
            margin-right: 5px;
            margin-left: -15px;
          }

          &:active,
          &:hover {
            background-color: mix.$blue;
            color: #fff;
          }
        }
      }
    }
  }

  .costBrand {
    margin-top: 3rem;
    background-color: mix.$blue;
    color: #fff;
    display: flex;
    padding-top: 1.5rem;
    padding-bottom: 1rem;

    .cost {
      display: flex;
      margin-left: auto;
      justify-content: flex-end;
      margin-right: 3rem;
      position: relative;

      h5 {
        @include mix.font400;
      }

      &::after {
        content: '|';
        position: absolute;
        right: -3rem;
      }
    }

    .brand {
      display: flex;
      margin-left: 3rem;
      gap: 2rem;

      h5 {
        @include mix.font400;
      }
    }
  }

  .benefitBox {
    margin-bottom: 10rem;

    h1 {
      margin-top: 8rem;
      @include mix.font700;
      font-size: 3rem;
      margin-bottom: 3rem;
    }

    .benefit {
      display: flex;
      padding: 4rem 3rem;
      @include mix.font500;
      font-size: 1.6rem;
      line-height: 1.8rem;
      background-color: mix.$lightGray;
      border-radius: 1rem;
      gap: 2rem;
      margin-bottom: 2rem;

      span {
        color: mix.$blue;
        font-size: 3rem;
        line-height: 1.8rem;
      }
    }
  }
}

@media(width<=1200px) {
  .cardDetail {
    .cardBanner {

      .cardInfoBox {
        .cardInfo {
          button {
            max-width: 80%;
          }
        }


      }
    }
  }
}

@media(width<=768px) {
  .cardDetail {
    .costBrand{
      .cost{
        flex: 1 0;
        flex-basis: 0;
      }
    }
    .cardBanner {
      margin-top: 10rem;

      .cardInfoBox {
        .cardInfo {
          button {
            max-width: 100%;
          }
        }

      }

      .cardImgBox>div .cardImg {
        width: 60%;
        padding-bottom: calc(60% * 1.58);
      }
    }
  }

  .cardDetail .cardBanner .cardImgBox>div::before {
    width: 90%;
    padding-bottom: 90%;

  }

}

@media(width<=576px) {
  .cardDetail {
    .cardBanner {
      margin-top: 8rem;

      .cardInfoBox {
        .cardInfo {
          button {
            width: calc(100% - 22px);
            max-width: none;
          }
        }

      }

      .cardImgBox {
        padding: 0;
        margin-bottom: 3rem;

        &>div .cardImg {
          width: 50%;
          padding-bottom: calc(50% * 1.58);
        }
      }
    }
  }

  .cardDetail {
    .costBrand {
      .cost {
        justify-content: flex-start;
        flex: 0 0;
        flex-basis: content;
        margin-right: 0;

        &::after {
          right: -1rem;
        }
      }

      .brand {
        margin-left: 1.5rem;
        gap:1.3rem;
      }
    }

    .cardBanner .cardImgBox>div::before {
      width: 70%;
      padding-bottom: 70%;
    }

    .benefitBox .benefit {
      margin: 0 10.5px;
      padding: 2rem 2.2rem;
      font-size: 1.3rem;
      line-height: 1.6;
      border-radius: 0.6rem;
      gap: 1rem;
      margin-bottom: 1rem;

      span {
        font-size: 2rem;
        line-height: 1.2;
      }
    }
  }
}