@use '../../common' as mix;

.header {
  position: fixed;
  // z-index: 100;
  top: 0;
  width: 100%;
  // backdrop-filter: blur(5px);
  border-bottom: 1px solid mix.$lightGray;

  .navbar-brand {
    cursor: pointer;
  }
}

.search--normal {
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid mix.$lightGray;
}

.search--click {
  background-color: #1d1d1d;
  color: #fff;
  position: relative;
  z-index: 110;
}

.search__bg {
  width: 100%;
  height: 100vh;
  //   background-color: rgba(255, 255, 255, 0.4);
  // background-color: red;
  backdrop-filter: blur(5px);
  // position: absolute;
  top: 0;

  // z-index: -1;
  .search__detail {
    background-color: #fff;
    width: 50%;
    height: 60vh;
    margin: 0 auto;
    border-radius: 0 0 10px 10px;
    position: relative;
    top: 60px;
    padding: 20px;
    min-width: 760px;
    min-height: 360px;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);

    &.small {
      height: 100vh;
      width: 100%;
    }

    &>div {
      margin: 0 auto;
      display: flex;
      width: 100%;
      height: 100%;

      &>h6 {
        font-weight: 500;
        flex-grow: 1;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          border-right: 2px solid mix.$lightGray;
          left: 0;
          height: 80%;
        }
      }

      .popular {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: Center;
        padding: 0 5%;

        h4 {
          font-size: 1.4rem;
          margin-bottom: 18px;
        }

        ul {
          padding: 0;

          li {
            font-size: 1rem;
            font-weight: 500;
            line-height: 2.4rem;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            position: relative;
            cursor: pointer;

            .arrowIcon {
              width: 1rem;
              margin-right: 8px;
            }

            &:hover {
              .arrowIcon {
                animation: arrowMove 0.4s ease-out;
              }
            }
          }
        }
      }
    }
  }
}

.closeIcon {
  color: #fff;
  transform: scale(1.2);
  margin-left: calc(55px - 19px);
}

.header {
  @include mix.font400;
  z-index: 100;

  .search--normal {
    position: absolute;
    top: 0;
    font-weight: 500;
    width: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    visibility: visible;

    &.hidden {
      visibility: hidden;
    }

    .nav__right {
      align-items: center;
      justify-content: flex-end;
      flex-grow: 1;

      .searchIcon,
      .cardIcon {
        margin-top: 2px;
        margin-left: 10px;
        transform: scale(1.2);
        color: #1d1d1d;
      }
    }
  }

  .search--click {
    position: absolute;
    top: 0;
    width: 100%;

    .navbar-brand {
      margin-right: 0;
    }

    .inputBox {
      width: 50%;
      background: rgb(46 46 46);
      border-radius: 200px;

      input {
        outline: none;
        border: none;
        padding: 10px 30px;
        color: white;
        background-color: transparent;
        width: 89%;
        margin-right: 5%;
      }

      .searchIcon {
        margin-top: -5px;
      }
    }
  }
}

.searchAll {
  transition: all 200ms;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.1);
  // width: 100%;
  // height: 100vh;
  backdrop-filter: blur(5px);

  .search__bg {
    height: 0vh;
  }

  &.active {
    visibility: visible;
    opacity: 1;

    .search__bg {
      height: 100vh;
    }
  }
}

@keyframes arrowMove {
  0% {
    transform: translate(-8px);
  }

  60% {
    transform: translate(5px);
  }

  80% {
    transform: translate(-2px);
  }

  100% {
    transform: translate(0px);
  }
}

@media (width<=1200px) {
  .search__bg .search__detail {
    top: 55px;
  }
}

@media (width<=992px) {
  .header .search--click .inputBox {
    width: 68%;
  }
}

@media (width<=760px) {
  .header .search--click {
    .container {
      max-width: 90%;
    }

    .inputBox {
      width: 68%;
    }
  }

  .search__bg .search__detail {
    top: 52.5px;
    width: 100%;
    border-radius: 0;
    min-width: fit-content;
    min-height: fit-content;
    &>div {
      flex-direction: column;

      .popular {
        width: 100%;
        height:40%;
        ul {
          display: flex;
          gap: 1rem;
          flex-wrap: wrap;
  
          li {
            background-color: #f5f5f5;
            padding: 0.1rem 1rem;
            border-radius: 10rem;
            transition: all 300ms;
            &:hover{
              background-color: mix.$black;
              color:#fff;
            }
            .arrowIcon {
              display: none;
            }
          }
        }
      }
      h6{
        width: 100%;
        align-items: center; 
        justify-content: center; 
        position: relative;
        &::before{
          content:none;
        }
      }
    }
  }

}

@media (width<=576px) {
  .search__bg .search__detail {
    top: 116.5px;
  }
  .header .search--click {
    padding-bottom: 1.5rem;
    .container {
      flex-wrap: wrap;
    }

    .navbar-brand {
      order: 1;
    }

    .inputBox {
      order: 3;
      width: 100%;  
      margin-top: 1rem;

      input {
        width: 86%;
      }

      svg {
        font-size: 1.5rem;
      }
    }
  }

  .closeIcon {
    order: 2;
    font-size: 1.5rem;
  }
}