@use '../common' as mix;

.cardBoxBtn {
  position: fixed;
  z-index: 100;
  right: 2rem;
  bottom: 3rem;
  width: 12rem;
  border-radius: 0.4rem;
  border: 2px solid mix.$blue;
  @include mix.shadow;
  background-color: #fff;

  .boxNull {
    height: 3.5rem;
    display: flex;
    @include mix.center;
    line-height: 2rem;
    @include mix.font500;
    color: mix.$blue;
    transition: all 200ms;
    &:hover{
      color: #fff;
      background-color: mix.$blue;
    }
    p {
      margin: 0;
      margin-left: 0.4rem;
      margin-right: 0.4rem;
    }

    svg {
      margin-top: 0.1rem;
    }
  }

  .boxImg {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    padding: 10px;
    padding-top: 0;

    .cardAlign {
      width: 25%;
      border: 1px solid mix.$blue;
      border-radius: 0.2rem;
      position: relative;
      overflow: hidden;

      .cardImg {
        width: 100%;
        padding-bottom: calc(100% * 1.58);
        @include mix.background;
      }

      .cardClose {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1rem;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        font-size: 2rem;
        text-align: center;
        color: #fff;
        opacity: 0;
        visibility: hidden;
        transition: all 150ms;
        svg{
          margin-top:5px;
        }
      }
      &:hover{
        .cardClose{
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}