@use '../common' as mix;

.cardBoxBtn {
  position: fixed;
  z-index: 100;
  right: 2rem;
  bottom: 3rem;
  width: 12rem;
  border-radius: 0.4rem;
  border: 2px solid mix.$blue;
  @include mix.shadow;
  background-color: #fff;
 visibility: hidden;
 opacity: 0;
 &.active{
  visibility: visible ;
  opacity: 1;
  transition: all 300ms;
 }
  .boxNull {
    height: 3.5rem;
    display: flex;
    @include mix.center;
    line-height: 2rem;
    @include mix.font500;
    color: mix.$blue;
    transition: all 200ms;
    &:hover {
      color: #fff;
      background-color: mix.$blue;
    }
    p {
      margin: 0;
      margin-left: 0.4rem;
      margin-right: 0.4rem;
    }

    svg {
      margin-top: 0.1rem;
    }
  }

  .boxImg {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    padding: 10px;
    padding-top: 0;

    .cardAlign {
      width: 25%;
      border: 1px solid mix.$blue;
      border-radius: 0.2rem;
      position: relative;
      overflow: hidden;

      .cardImg {
        width: 100%;
        padding-bottom: calc(100% * 1.58);
        @include mix.background;
      }

      .cardClose {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1rem;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        font-size: 2rem;
        text-align: center;
        color: #fff;
        opacity: 0;
        visibility: hidden;
        transition: all 150ms;
        svg {
          margin-top: 5px;
        }
      }
      &:hover {
        .cardClose {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

.cardBoxBtn--small {
  position: fixed;
  z-index: 100;
  right: 2rem;
  bottom: 3rem;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: mix.$blue;
  color: #fff;
  @include mix.center;
  font-size: 1.5rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  visibility: hidden;
  // transition: all 300ms ease;
  opacity: 0;
  .cardBoxNum {
    font-size: 0.9rem;
    font-weight: 600;
    position: absolute;
    top: -5px;
    right: -5px;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: mix.$red;
  }
}
@media (width<992px) {
  .cardBoxBtn--original {
    display: none;
  }
  .cardBoxBtn--small.active {
    visibility: visible;
    animation: fadeIn 500ms ease;
    animation-fill-mode: both;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
