//Bootstrap
// @import '~bootstrap/scss/bootstrap';
// @import '~bootstrap/scss/bootstrap-grid';
// @import '~bootstrap/scss/variables';
// @import '~bootstrap/scss/mixins/breakpoints';

// $--bs-blue: orange;
//color
$black: #1d1d1d;
$lightGray: #f9fafb;
$darkGray: #d9d9d9;
$red: #ff524b;
$blue: #007aff;
$lightBlue: #ddedff;
$green: #2ad1ad;

@mixin font300 {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
}
@mixin font400 {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
}
@mixin font500 {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
}
@mixin font600 {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 600;
}
@mixin font700 {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@mixin end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@mixin between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin title {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  font-size: 3rem;
}
@mixin subtitle {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
}
@mixin background {
  background-position: center;
  background-size: cover;
}
@mixin shadow {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
}
@mixin innerTop {
  margin-top: 10%;
}
@media (width<=992px) {
  @mixin innerTop {
    margin-top: 10rem;
  }
}
@media (width<=576px) {
  @mixin innerTop {
    margin-top: 8rem;
  }
}

// @import '~bootstrap/scss/bootstrap.scss';
